<!-- <p class="text-4xl">Student naam: Coen de kruijf</p>
<p class="text-4xl">Studentnummer: 2220822</p> -->
<div class="flex-grow">
    <div class="p-4">
        <h1 class="text-4xl p-2">About page</h1>
        <h2 class="text-2xl px-2">Casus:</h2>
        <p class="p-2">
            Ik heb gekozen om een applicatie te maken die mij en mijn
            voetbalteam helpt bij het plannen van wedstrijden, het bijhouden van
            statistieken en het vastleggen van uitslagen. Wij hebben als
            voetbalteam al tijden een maandverslag waarin we een aantal dingen
            vastleggen zoals de uitslagen van wedstrijden, het wedstrijdverloop,
            wie de doelpunten heeft gescoord en wie de assist heeft gegeven. Ook
            verzamelen we de hele maand door quotes gedaan door teamleaden of
            vrienden van het team. Dit verslag wordt in elkaar gezet door een
            van de teamleden en wordt vervolgens gedeeld met de rest van het
            team via de mail.<br />
            Daarnaast is er een groepsapp waarin we de wedstrijden plannen je
            kunt je aanmelden voor een wedstrijd via een poll op whatsapp en in
            die poll staat ook de verzameltijd en locatie van de wedstrijd.
            <br />
            Nu zijn er nog wel eens teamleden die de verzameltijd vergeten of de
            poll niet invullen waardoor we geen compleet beeld hebben van wie er
            kunnen spelen. Hoe makkelijk zou het dus zijn als we als speler
            onszelf kunnen aanmelden via de website en dat alle informatie van
            de website op dezelfde plek staat zonder helemaal terug te moeten
            zoeken in de groepsapp. <br />
            <br />
            Ik ga dus een applicatie maken waarin je als user (of dat nou speler
            of supporter is) jezelf kunt aanmelden voor een wedstrijd, het
            verslag van een wedstrijd gemaakt kan worden met de uitslagen,
            doelpuntenmakers, assistgevers en. Ook wil ik een overzicht maken
            van de statistieken van de spelers en het team en wil ik aan het
            einde van elke maand een maandverslag maken die je kunt delen met
            leden van het team.
            <br />
            Op een aparte pagina zullen ten slotte nog een overzicht komen van
            alle quotes die de users dan kunnen like of disliken de meest
            gelikete quotes komen bovendien in het maandverslag.
        </p>
    </div>
    <div class="">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                        ID
                    </th>
                    <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                        Functional Requirement
                    </th>
                    <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                        Acceptcriteria
                    </th>
                    <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                        Prioriteit
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">F-01</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        Als user wil ik me kunnen aanmelden voor een wedstrijd
                        zodat ik weet wie er komen en hoe laat ik moet
                        verzamelen.
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <ul>
                            <li>
                                De user moet zich kunnen aanmelden voor een
                                wedstrijd
                            </li>
                            <li>
                                De user moet zich kunnen afmelden voor een
                                wedstrijd
                            </li>
                            <li>
                                De user moet een bevestiging krijgen van zijn
                                aanmelding
                            </li>
                        </ul>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">Must</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">F-01</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        Als user wil ik een wedstrijdverslag kunnen maken zodat
                        ik de uitslagen, doelpuntenmakers en assistgevers kan
                        vastleggen.
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <ul>
                            <li>
                                De user moet een wedstrijdverslag kunnen maken
                            </li>
                            <li>De user moet de uitslagen kunnen invullen</li>
                            <li>
                                De user moet de doelpuntenmakers kunnen invullen
                            </li>
                            <li>
                                De user moet de assistgevers kunnen invullen
                            </li>
                        </ul>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">Must</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">F-03</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        Als user wil ik de statistieken van de spelers en het
                        team kunnen inzien zodat ik weet hoe we ervoor staan.
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <ul>
                            <li>
                                De user moet de statistieken van de spelers
                                kunnen inzien
                            </li>
                            <li>
                                De user moet de statistieken van het team kunnen
                                inzien
                            </li>
                        </ul>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">Should</td>
                </tr>

                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">F-04</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        Als user wil ik een maandverslag kunnen maken zodat ik
                        de uitslagen, doelpuntenmakers, assistgevers en quotes
                        kan vastleggen.
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <ul>
                            <li>De user moet een maandverslag kunnen maken</li>
                            <li>De user moet de uitslagen kunnen invullen</li>
                            <li>
                                De user moet de doelpuntenmakers kunnen invullen
                            </li>
                            <li>
                                De user moet de assistgevers kunnen invullen
                            </li>
                            <li>De user moet quotes kunnen ophalen</li>
                        </ul>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">Should</td>
                </tr>

                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">F-05</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        Als user wil ik quotes kunnen toevoegen zodat ik deze
                        kan vastleggen en delen met het team.
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <ul>
                            <li>De user moet quotes kunnen toevoegen</li>
                            <li>
                                De user moet zelf toegevoegde quotes kunnen
                                verwijderen
                            </li>
                        </ul>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">Must</td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">F-06</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        Als user wil ik quotes kunnen liken en disliken zodat ik
                        kan aangeven welke quotes ik het leukst vind.
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <ul>
                            <li>De user moet quotes kunnen liken</li>
                            <li>De user moet quotes kunnen disliken</li>
                        </ul>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">Should</td>
                </tr>
            </tbody>
        </table>

        <h2 class="text-2xl p-2">ERD</h2>
        <img
            src="../../../assets/images/ProjectERD.png"
            class="h-auto max-w-lg rounded-lg mx-auto max-w-s"
        />
    </div>
</div>
